@font-face {
    font-family: 'Segoe WP';
    font-style: normal;
    src: local('Segoe WP'), url('SegoeWP.woff') format('woff');
}
	
body {
    background-color: #e60c00;
    font-family: Segoe WP;
}

main {
    margin: 2%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: #bf2213 1px solid;
}

hr {
    border-radius: 5px;
    border: 1px solid #e60c00;
}

header {
    text-align: center;
}

header h1 {
    padding-top: 0;
    margin: 1px;
}

h2 {
    margin: 0;
}

ul {
    margin: 10px;
}

nav {
	text-align: center;
    border-radius: 5px;
    font-size: 18px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    font-weight: bold;
    margin-right: 10px;
    overflow: hidden;
}

nav a {
    color: black;
    display:inline-block;
    text-decoration: none;
}

.selected {
    color: #e60c00;
}

a,
a:visited {
    color: #e60c00;
    text-decoration: none;
}

a:hover {
    color: darkred;
}

footer {
    text-align: center;
    color: white;
}
